body{
    font-family: 'Poppins', sans-serif;
}

.containerAll{
    width: 940px;
    margin: auto;
    padding: 2em 4em 4em 4em;
    border: 1px solid #9C9C9C;
    background-color: #ece6e6;
}


.img{
    width: 100%;
    margin: auto;
}

header{
    height: 45px;
    position: relative;
}

.logoContainer, .menuNav{
    display: inline-block;
    vertical-align: middle;
}

.logoContainer{
    width: 30%;
}

.menuNav{
    width: 69.5%;  
}

.menuNav > ul{
    margin-left: 0;
    margin-left: 20%;
}

.itemNav:nth-child(n):not(:last-child){
    margin-right: 2.76em;
}


.itemNav{
    display: inline-block;
}


section, main, footer{
    width: 940px;
    margin-top: 70px;
}

main{
    text-align: center;
}

.main-textBox > h1{
    font-size: 2.5vw;
    font-weight: 800;
}

.main-textBox > .main-legend{
    margin-bottom: 80px;
    margin-top: 2em;
    font-size: 1em;
    width: 47%;
    font-weight: 400;
    line-height: 20px;
}

.main-textBox > p{
    width: 48%;
    margin: auto;
}


.breakLine{
    content: " ";
    height: 2px;
    width: 400px;
    background-color: black;
}

.textBox > .title, .breakLine{
    display: inline-block;
    vertical-align: middle;
}

.textBox > .title{
    font-size: 13px;
    font-weight: 500;
    margin-right: 2em;
}   

.textBox > .text{
    width: 52%;
    font-size: 1.6em;
    font-weight: 900;
    line-height: 1.5em;
    margin: 1em 0 1em 0;
}

.containerSection_1 > img{
    display: inline-block;
    width: 617px;
    height: 370px;
}

.containerSection_1 > .lista-benefits{
    display: inline-block;
    vertical-align: top;
    margin-left: 10.7%;
    padding: 2.5em 3em 2.5em 3em;
    color: white;
    background-color: #2C3878;
    text-align: center;
}

.benefit:not(:first-child){
    margin-top: 3.6em;
}



.benefitTitle{
    font-size: 2em;
    font-weight: 501;
}

.benefitText{
    font-size: 0.8em;
    margin-top: 1em;
}



.textBox > .smallText{
    width: 45%;
    color: #9C9C9C;
    line-height: 1.5em;
}

.diferenciales > li{
    width: 31%;
    display: inline-block;
    margin: 2em 0 2em 0;
    text-align: center;
    padding: 2em;
    box-sizing: border-box;
    border: 1px solid #9C9C9C;
}

.diferenciales > li:not(:last-child){
    margin-right: 3%;
}

.grayCirlce{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #9C9C9C;
    margin-left: 43%;
    margin-bottom: 1em;
}

.diferencialTitle{
    margin-bottom: 1em;
}

.descripcionDiferencial{
    color: #9C9C9C;
    line-height: 1.5em;
    font-size: 0.8em;
}


.containerSection_3{
    padding: 30px;
    box-sizing: border-box;
}

.containerSection_3 > div{
    display: inline-block;
}

.containerSection_3{
    background-color: #2C3878;
    height: 10vw;
    color: white;
}


.containerSection_3 > .sectLeft{
    width: 50%;
    font-size: 1.7em;
    line-height: 1.5em;
    font-weight: 500;
}

.containerSection_3 > .sectRigth{
    width: 30%;
    font-size: 1.05vw;
    line-height: 25px;
    margin-left: 10%;
    vertical-align: top;
    font-weight: normal;
}

.sectRigth > button{
    left: 50%;
    display: block;
    height: 30px;
    width: 80px;
    margin-top: 1em;
}


.rodapie{
    height: 14em;
    padding: 3em;
    box-sizing: border-box;
    color: black;
}

.rodapie > div:nth-child(n){
    display: inline-block;
}


.rodapie > .footerLeft{
    width: 40%;
    font-size: 1.5em;
    line-height: 1.5em;
    vertical-align: top;
    font-weight: bold;
}

.footerRigth{
    font-size: .9em;
    width: 30%;
    vertical-align: middle;
    margin-left: 20%;
}

.footerRigth > p{
    margin-top: 3em;
}


.footerLeft > .logo{
    margin-bottom: 0.7em;
}


.btn-email{
    margin-top: 16px;
    width: 260px;
    height: 40px;
    border: none;
    background-color: #ece6e6;
    border-bottom: solid black 0.5px;
}



